In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
import pickle

In [ ]:
filepath = '../project/data/Absenteeism_at_work.csv'
df1 = pd.read_csv(filepath)
df1.head()
df1.fillna(0)

    ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours
0    11;26;7;3;1;289;36;13;33;239.554;97;0;1;2;1;0;...
1    36;0;7;3;1;118;13;18;50;239.554;97;1;1;1;1;0;0...
2    3;23;7;4;1;179;51;18;38;239.554;97;0;1;0;1;0;0...
3    7;7;7;5;1;279;5;14;39;239.554;97;0;1;2;1;1;0;6...
4    11;23;7;5;1;289;36;13;33;239.554;97;0;1;2;1;0;...
..                                                 ...
735  11;14;7;3;1;289;36;13;33;264.604;93;0;1;2;1;0;...
736  1;11;7;3;1;235;11;14;37;264.604;93;0;3;1;0;0;1...
737  4;0;0;3;1;118;14;13;40;271.219;95;0;1;1;1;0;8;...
738  8;0;0;4;2;231;35;14;39;271.219;95;0;1;2;1;0;2;...
739  35;0;0;6;3;179;45;14;53;271.219;95;0;1;1;0;0;1...

[740 rows x 1 columns]

In [ ]:
has_missing_values = False
for c in df1.columns:
    if df1[c].isna().sum() != 0:
        print(f"{c} has {df1[c].isna().sum()} missing values")
        has_missing_values = True
if not has_missing_values:
    print("The dataframe has no missing values")

The dataframe has no missing values

In [ ]:
filepath = '../project/data/hr_analytics_training.csv'
df2 = pd.read_csv(filepath)
df2.fillna(0)
df2.pop("termd")
df2.pop("days_late_last30")
df2.pop("dateof_termination")
df2.pop("term_reason")
df2["manager_id"].fillna("0",inplace=True)

In [ ]:
has_missing_values = False
for c in df2.columns:
    if df2[c].isna().sum() != 0:
        print(f"{c} has {df2[c].isna().sum()} missing values")
        has_missing_values = True
if not has_missing_values:
    print("The dataframe has no missing values")

The dataframe has no missing values

In [ ]:
filepath = '../project/data/hr_analytics_validation.csv'
df3 = pd.read_csv(filepath)
df3["manager_id"].fillna("0",inplace=True)
df3["dateof_termination"].fillna("0",inplace=True)
df3.head()

The dataframe has no missing values